
.title1{
	
}
.title1 h2 {
      font-weight: bold;
    text-align: center;
    border-width: 2px 73px 2px 73px;
    border-style: solid;
    padding: 15px;
    border-radius: 37px;

}
.container .info ins{
	text-decoration: none;
	font-weight: 30px;
  	font-size: 18px;
  	color: blue;

}